<link rel="stylesheet" href="/css/adminProductEdit.css">


<div class="admin-nav">
  <nav class="navbar navbar-expand-lg navbar-light" id="admin-nav">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a id="navlink" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a id="navlink" class="nav-link" href="#">Notifications<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="navlink" class="nav-link" href="#">Alert</a>
      </ul>
    </div>
  </nav>
</div>
<section>
  <div class="wrapper">
    <aside id="sidebar">
      <div class="d-flex">
        <button id="toggle-btn" type="button">
          <i class="lni lni-grid-alt"></i>
        </button>

      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-item">
          <a href="/admin/adminDashboard" class="sidebar-link">
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/listUsers" class="sidebar-link">
            <i class="lni lni-user"></i>
            <span>Customers</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/productManagement" class="sidebar-link">
            <i class="fa-solid fa-box-open"></i>
            <span>Products</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="/admin/categoryManagement" class="sidebar-link">
            <i class="lni lni-agenda"></i>
            <span>Categories</span>
          </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/orderManagement" class="sidebar-link">
              <i class="fa-solid fa-copy"></i>
              <span>Orders</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a href="/admin/offerManagement" class="sidebar-link">
              <i class="lni lni-popup"></i>
              <span>Offers</span>
            </a>
          </li>
        <li class="sidebar-item">
          <a href="/admin/couponManagement" class="sidebar-link">
            <i class="lni lni-ticket-alt"></i>
            <span>Coupons</span>
          </a>
        </li>
        <li class="sidebar-item">
           <a href="/admin/offerManagement" class="sidebar-link">
            <i class="fa-brands fa-slack"></i>
            <span>Settings</span>
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <a href="/admin/adminLogout" class="sidebar-link">
          <i class="lni lni-exit"></i>
          <span>Logout</span>
        </a>
      </div>
    </aside>
    <div class="content-main-catogery">
      <div class="row" id="row-order">
        <div id="tbl" class="table-responsive">
          <table class="table table-hover">
            <thead id="tbl" class="tble-head-category">
              <tr id="head">

                <th style="color: white;">Order ID</th>
                <th style="color: white;">Total</th>
                <th style="color: white;">Payment Method</th>
                <th style="color: white;">Order Status</th>

                <th style="color: white;">More</th>
              </tr>
            </thead>
            <tbody id="body-table">
              {{#each orders}}
              <tr>

                <td>{{this.nameRandom}}</td>
                <td>{{this.totalAmount}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.orderStatus}}</td>
             
                <td>
                  <a style="padding: 3px; border-radius:4px; text-decoration:none" class="bg badge-info"
                    href="/admin/moreOrderData?orderId={{this._id}}">click Here</a>
                </td>
                </form>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>



      <div class="pagination">
        <button style="background-color:rgb(255, 255, 255)" class="backward" id="first"></button>
        <button style="background-color:rgb(0, 0, 0)" class="backward" id="prev"></button>
        <button style="background-color:rgb(0, 0, 0)" class="forward" id="next"></button>
        <button style="background-color:rgb(255, 255, 255)" class="forward" id="last"></button>
        <div class="page-numbers" id="pageNumbers"></div>
      </div>

    </div> <!-- card .// -->
</section> <!-- content-main end// -->
<script>
  let currentPage = 1;
  const rows = Array.prototype.slice.call(document.querySelectorAll('tbody tr'));
  const firstBtn = document.getElementById('first');
  const lastBtn = document.getElementById('last');
  const prevBtn = document.getElementById('prev');
  const nextBtn = document.getElementById('next');
  const numberPerPage = 7; // Show 5 rows per page
  const numberOfPages = getNumberOfPages();
  const pageNumbers = document.getElementById('pageNumbers');

  firstBtn.addEventListener('click', firstPage, false);
  lastBtn.addEventListener('click', lastPage, false);
  prevBtn.addEventListener('click', prevPage, false);
  nextBtn.addEventListener('click', nextPage, false);

  window.onload = load(numberOfPages);

  function getNumberOfPages() {
    return Math.ceil(rows.length / numberPerPage);
  }

  function generatePageNumbers(pageCount) {
    for (let j = 1; j <= pageCount; j++) {
      const pageNumber = document.createElement('span');
      pageNumber.innerHTML = j;
      pageNumber.classList.add('page-number');
      pageNumbers.appendChild(pageNumber);
      if (j === currentPage) {
        pageNumber.classList.add('active');
      }
      pageNumber.addEventListener('click', jumpToPage, false);
    }
  }

  function jumpToPage(event) {
    currentPage = parseInt(event.target.innerHTML);
    loadRows();
    activePageNum(currentPage);
  }

  function activePageNum(activePage) {
    const pageNumbers = Array.prototype.slice.call(document.querySelectorAll('.page-number'));
    pageNumbers.forEach(function (pageNumber) {
      if (parseInt(pageNumber.innerHTML) === activePage) {
        pageNumber.classList.add('active');
      } else {
        pageNumber.classList.remove('active');
      }
    });
  }

  function nextPage() {
    currentPage += 1;
    loadRows();
    activePageNum(currentPage);
  }

  function prevPage() {
    currentPage -= 1;
    loadRows();
    activePageNum(currentPage);
  }

  function firstPage() {
    currentPage = 1;
    loadRows();
    activePageNum(currentPage);
  }

  function lastPage() {
    currentPage = numberOfPages;
    loadRows();
    activePageNum(currentPage);
  }

  function loadRows() {
    const start = (currentPage - 1) * numberPerPage;
    const end = start + numberPerPage;
    for (let i = 0; i < rows.length; i++) {
      if (i >= start && i < end) {
        rows[i].style.display = 'table-row';
      } else {
        rows[i].style.display = 'none';
      }
    }
    buttonStates();
  }

  function buttonStates() {
    document.getElementById('next').disabled = currentPage === numberOfPages;
    document.getElementById('prev').disabled = currentPage === 1;
    document.getElementById('first').disabled = currentPage === 1;
    document.getElementById('last').disabled = currentPage === numberOfPages;
  }

  function load(pageCount) {
    generatePageNumbers(pageCount);
    loadRows();
  }

</script>




<script src="/Javascript/sidebar.js"></script>
<script src="/Javascript/msgs.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>