<section>
  <button onclick="window.history.back();" style="padding: 8px; background-color:black" class="btn btn-info mt-4 ml-4">Go back</button>
  <div style="margin-top: -5%;" class="content-main-category">
    <div class="row" id="row-order">
      <div id="tbl" class="table-responsive">
        <table class="table table-hover">
          <thead id="tbl" class="tble-head-category">
            <tr id="head">
              <th style="font-weight: 900;">Product Details</th>
              <th style="font-weight: 900;">Ordered date</th>
              <th style="font-weight: 900;">Billing Address</th>
              <th style="font-weight: 900;">Order Status Change</th>
            </tr>
          </thead>
          <tbody id="body-table">
            <tr>
              <td>
                <table>
                  <thead>
                    <tr>
                      <th style="color: rgb(0, 0, 0);">Product Image</th>
                      <th style="color: rgb(0, 0, 0);">Product Name</th>
                      <th style="color: rgb(0, 0, 0);">Product Quantity</th>
                      <th style="color: rgb(0, 0, 0);">Product Price</th>
                      <th style="color: rgb(0, 0, 0);">Product Status</th>
                      <th style="color: rgb(0, 0, 0);">Change</th>
                      {{#if this.reasonReturn}}
                      <th style="color: rgb(0, 0, 0);">Return reason</th>
                     {{/if}}
                    </tr>
                  </thead>
                  <tbody>
                    {{#each orderDetails.products}}
                    <tr>
                      <td><img style="height:150px; width:150px;" src="/images/cropped_{{this.img1}}" alt="{{this.productName}}"></td>
                      <td>{{this.productName}}</td>
                      <td>{{this.quantity}}</td>
                      <td>{{this.salesPrice}}</td>
                      <td>{{this.status}}</td>
                   
                      {{#if (eq this.status 'canceled')}}
                      <td>Already canceled</td>
                      {{else}}
                      <td>
                        <form action="/admin/ordersProductUpdate" method="post">
                          <input type="hidden" name="productId" value="{{this._id}}">
                          <select name="newStatus" class="form-select" aria-label="Default select example">
                            <option selected>Select</option>
                            <option value="pending">Pending</option>
                            <option value="shipped">Shipped</option>
                            <option value="canceled">Cancelled</option>
                            <option value="delivered">Delivered</option>
                            <option value="returned">Returned</option>
                          </select>
                          <button style="padding-bottom: 28px; width:80%" id="btn-order" type="submit" class="btn btn-primary mt-3">Save</button>
                        </form>
                      </td>
                      {{/if}}
                        {{#if this.returnReason}} 
                      <td>{{this.returnReason}}</td>
                      {{/if}}
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
              <td>{{orderDetails.OrderedDate}}</td>
              <td>
                <br>{{orderDetails.address.fullname}},
                <br>{{orderDetails.address.addressLine}},
                <br>{{orderDetails.address.City}},
                <br>{{orderDetails.address.state}},
                <br>{{orderDetails.address.country}},
                {{orderDetails.address.pincode}}
              </td>
              {{#if (eq orderDetails.orderStatus 'canceled')}}
              <td>Order canceled</td>
              {{else}}
              <td>
                <form action="/admin/ordersUpdate" method="post">
                <input type="hidden" name="orderId" value="{{orderDetails.orderId}}">
                  <select name="newStatus" class="form-select" aria-label="Default select example">
                    <option selected>Select</option>
                    <option value="pending">Pending</option>
                    <option value="shipped">Shipped</option>
                    <option value="canceled">Cancelled</option>
                    <option value="delivered">Delivered</option>
                    <option value="returned">Returned</option>
                  </select>
                  <button style="padding-bottom: 28px; width:80%" id="btn-order" type="submit" class="btn btn-primary mt-3">Save</button>
                </form>
              </td>
              {{/if}}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


</section>

