<section>
    <div id="second-list" class="card-body">
        <div class="d-flex justify-content-between">
            <button onclick="window.history.back()" style="margin-bottom: 2%; background-color:black; padding:5px; border-radius:5px; color:#ffffff" id="back-product-btn">
              Go Back
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead style="background-color:#ffffff; color:white;" class="text-center">
                    <tr>
                        <th style="color: rgb(0, 0, 0);">Images</th>
                        <th style="color: rgb(0, 0, 0);">Product name</th>
                        <th style="color: rgb(0, 0, 0);">Category</th>
                        <th style="color: rgb(0, 0, 0);">Brand</th>
                        <th style="color: rgb(0, 0, 0);">Price</th>
                        <th style="color: rgb(0, 0, 0);">Promotional Price</th>
                        <th style="color: rgb(0, 0, 0);">Trending</th>
                        <th style="color: rgb(0, 0, 0);">Offers</th>
                        <th style="color: rgb(0, 0, 0);">How to use</th>
                        <th style="color: rgb(0, 0, 0);">Ingredients</th>
                        <th style="color: rgb(0, 0, 0);">Features</th>
                        <th style="color: rgb(0, 0, 0);">Tags</th>
                        <th style="color: rgb(0, 0, 0);">Description</th>
                    </tr>
                </thead>
                <tbody >
                    {{#each products}}
                    <tr>
                        <td style="background-color: #ffffff;">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="circular-image-container">
                                    <img class="img-fluid rounded-circle" src="/images/cropped_{{this.img1}}" alt="Image 1">
                                </div><br>
                                <div class="circular-image-container">
                                    <img class="img-fluid rounded-circle" src="/images/cropped_{{this.img2}}" alt="Image 2">
                                </div><br>
                                <div class="circular-image-container">
                                    <img class="img-fluid rounded-circle" src="/images/cropped_{{this.img3}}" alt="Image 3">
                                </div>
                            </div>
                        </td>
                        <td style="background-color: #ffffff;">{{this.productName}}</td>
                        <td style="background-color: #ffffff;">{{this.category.categoryName}}</td>
                        <td style="background-color: #ffffff;">{{this.brand}}</td>
                        <td style="background-color: #ffffff;">{{this.price}}</td>
                        <td style="background-color: #ffffff;">{{this.oldPrice}}</td>
                        <td style="background-color: #ffffff;">{{this.trending}}</td>
                        <td style="background-color: #ffffff;"> {{this.offer}}</td>
                        <td style="background-color: #ffffff;">{{this.howTouse}}</td>
                        <td style="background-color: #ffffff;">{{this.Ingredients}}</td>
                        <td style="background-color: #ffffff;">{{this.features}}</td>
                        <td style="background-color: #ffffff;"> {{this.tags}}</td>
                        <td style="background-color: #ffffff;">{{this.description}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>


